<td>{{class.section}}</td>
<td>{{class.enrollment}} / {{class.capacity}}</td>
{% if class.isFull %} {% if class.classid in curr_waitlists %}
<td>
    <div class="form-check form-switch">
        <input
            class="form-check-input waitlist-switch"
            type="checkbox"
            id="switch-{{class.classid}}"
            data-classid="{{class.classid}}"
            data-bs-toggle="modal"
            data-bs-target="#confirm-remove-waitlist"
            checked
        />
    </div>
</td>
{% else %}
<td>
    <div class="form-check form-switch">
        <input
            class="form-check-input waitlist-switch"
            type="checkbox"
            id="switch-{{class.classid}}"
            data-classid="{{class.classid}}"
        />
    </div>
</td>
{% endif %} {% else %}
<td></td>
{% endif %} {% if class.end_time == "" %}
<td>{{class.start_time}}</td>
{% else %}
<td>{{class.start_time}} - {{class.end_time}}</td>
{% endif %}
<td>{{class.days}}</td>
