{% if course_details is none %}
<div class="container-fluid">
    <div class="row text-center">
        <p class="fs-4 px-0 py-5">
            Course sections are displayed here. <br />
            Search to get started!
        </p>
    </div>
</div>
{% else %}

<div class="table-responsive-xl">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Section</th>
                <th scope="col">Enrollment</th>
                <th scope="col">Notify Me</th>
                <th scope="col">Time</th>
                <th scope="col">Days</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes_list %}
            <tr>
                <td>{{class.section}}</td>
                <td>{{class.enrollment}} / {{class.capacity}}</td>
                {% if class.isFull %} {% if class.classid in curr_waitlists %}
                <td>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input waitlist-switch"
                            type="checkbox"
                            id="switch-{{class.classid}}"
                            data-classid="{{class.classid}}"
                            data-bs-toggle="modal"
                            data-bs-target="#confirm-remove-waitlist"
                            checked
                        />
                    </div>
                </td>
                {% else %}
                <td>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input waitlist-switch"
                            type="checkbox"
                            id="switch-{{class.classid}}"
                            data-classid="{{class.classid}}"
                        />
                    </div>
                </td>
                {% endif %} {% else %}
                <td></td>
                {% endif %} {% if class.end_time == "" %}
                <td>{{class.start_time}}</td>
                {% else %}
                <td>{{class.start_time}} - {{class.end_time}}</td>
                {% endif %}
                <td>{{class.days}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br />

{% include 'waitlist_modal.html' %} {% endif %}
