<div class="px-4 pt-3">
    <span class="badge bg-warning text-dark font-monospace px-1 py-1 fs-5"
        >{{ course_details.displayname }}</span
    >
    <a id="search-skip" class="fw-light ps-3" href="" style="text-decoration: underline">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-90deg-up me-1"
            viewBox="0 0 16 20"
        >
            <path
                fill-rule="evenodd"
                d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"
            /></svg>
        >back to top
    </a>
</div>

<div class="px-4 pt-0 pb-1 fs-2">{{ course_details.title }}</div>
