{% if course_details is none %}
<title>TigerSnatch | Courses</title>
{% else %}
<title>TigerSnatch | {{course_details.displayname}}</title>
{% endif %} 

<div id="course-header" class="row">{% include 'course/course_header.html' %}</div>
<div id="course-content" class="row">
    <div id="course-table" class="row px-4 py-3">{% include 'course/course_table.html' %}</div>
    <div id="course-other" class="row px-0">
        <div id="course-mss" class="col-xl px-4 py-3">{% include 'course/course_mss.html' %}</div>
        <div id="course-guide" class="col-xl px-4 py-3">{% include 'course/course_guide.html' %}</div>
    </div>
</div>
