{% if course_details is none %}
<div class="container-fluid">
    <div class="row text-center">
        <p class="fs-4 px-0 py-5">
            Course sections are displayed here. <br />
            Search to get started!
        </p>
    </div>
</div>
{% else %}
<div class="table-responsive-xl">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Section</th>
                <th scope="col">Enrollment</th>
                <th scope="col">Notify Me</th>
                <th scope="col">Time</th>
                <th scope="col">Days</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes_list %}
            {% if class.isFull %}
                <tr class="full-section-row">
                    {% include 'course/course_table_row.html' %}
                </tr>
            {% else %} 
                <tr class="available-section-row">
                    {% include 'course/course_table_row.html' %}
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<br />

{% include 'waitlist_modal.html' %} {% endif %}
