<!DOCTYPE html>
<html>
   <head>
      <title>Penny.com</title>
   </head>
   <body>
      {% include 'header.html' %}
      <h1>Author Search Results</h1>
      <h2>Books by {{author}}:</h2>
      {% if books|length == 0: %}
           (None)
      {% else: %}
      {%    for book in books: %}
              {{book.getAuthor()}}, {{book.getTitle()}},
              ${{book.getPrice()}}<br>
      {%    endfor %}
      {% endif %}
      <br>
      <br>
      Click here to do another 
      <a href="searchform">author search</a>.
      <br>
      <br>
      {% include 'footer.html' %}
   </body>
</html> 
