<div id="guide-header" class="fs-5 pb-0">Guide</div>
<div id="guide-content">
    <ul>
        <li>
            Remove yourself from a waitlist by toggling a switch off. Be careful: waitlists are
            ordered, so this action will reset your place in line.
        </li>
        <li>
            You will be notified via email once a spot opens up and we reach your spot in line.
            After five minutes, you will be removed from the waitlist and the next Tiger will be
            notified.
        </li>
    </ul>
</div>
