<!DOCTYPE html>
<html>
    <head>
        <title>TigerSnatch | Error</title>
        {% include 'common.html' %}
    </head>
    <body id="error-container">
        <div class="container-fluid">
            <div class="row text-center">
                <p class="fs-1 px-0 pt-5">Oops! Something went wrong.</p>
                <img
                    src="/static/error.svg"
                    width="200"
                    height="200"
                    alt="TigerSnatch error"
                    class="d-inline-block align-text-center mb-5 mt-3"
                />
                <form action="/dashboard" class="px-0">
                    <input
                        class="btn btn-warning text-dark fs-2 px-5 py-3"
                        type="submit"
                        value="Go to Dashboard &#8594;"
                        style="border-radius: 100px"
                    />
                </form>
            </div>
        </div>
    </body>
</html>
