<nav id="nav" class="navbar navbar-expand-lg navbar-light sticky-top">
    <div id="nav-container" class="container-fluid">
        <a id="nav-logo" class="navbar-brand fs-3 me-0" href="/dashboard">
            <img
                id="tigersnatch-icon"
                src="/static/logo-nav.svg"
                width="40"
                height="40"
                alt="TigerSnatch logo"
                class="d-inline-block align-text-center mx-2"
            />
            TigerSnatch {% include 'utils/dev_warning.html'%} {% include
            'utils/status_indicator.html' %}
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="true"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            {% if user_is_admin %}
            <li class="nav-item">
                <a
                    id="admin-nav-link"
                    class="nav-link fs-5 fw-light hvr-underline-from-center active"
                    href="/admin"
                    >Admin</a
                >
            </li>
            {% endif %}
            <li class="nav-item">
                <a
                    class="nav-link ms-4 fs-5 fw-light hvr-underline-from-center active"
                    href="/dashboard"
                    >Dashboard</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link ms-4 fs-5 fw-light hvr-underline-from-center active"
                    href="/activity"
                    >Activity</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link ms-4 fs-5 fw-light hvr-underline-from-center active"
                    href="/about"
                    >About</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link ms-4 me-2 fs-5 fw-light hvr-underline-from-center active"
                    href="/tutorial"
                    >Tutorial</a
                >
            </li>
            <li class="">
                <form class="d-flex mx-4 nav-button" action="/logout" method="get">
                    <button
                        id="logout-btn"
                        class="btn btn-warning text-dark fs-5 px-4 fw-light nav-button"
                        type="submit"
                    >
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>
