*:not(.form-control) {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    font-size: 0.93rem;
}

:root {
    --color-yellow: #ffe58a;
    --color-green: #51a451;
    --color-blue: #e3f3ff8c;
    --color-orange: #e87822e7;
}

.vsc-initialized,
body,
html {
    height: 100%;
}

div#main.container-fluid {
    min-height: 100%;
    overflow: hidden;
}

div#main.container-fluid {
    height: 100%;
    overflow: scroll;
}

div.row.align-items-start {
    height: 100%;
}

.navbar#nav {
    background-color: var(--color-yellow);
    height: 4rem;
}

ul.navbar-nav {
    background: #ffe68ad4;
}

.navbar-brand#nav-logo {
    letter-spacing: 0.1em;
}

.form-check-input:checked {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.form-switch {
    margin-left: 0.4em;
}

.form-check-input.waitlist-switch {
    transform: scale(1.4);
    width: 40px;
    margin-left: -2.25em;
}

div#search-results {
    height: 90%;
    overflow: scroll;
}

td,
thead {
    white-space: nowrap !important;
}

div.card.search-results-card {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1%;
}

div.search-results-displayname {
    font-size: 0.9rem;
}

div#search-wrapper {
    background: var(--color-blue);
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
    height: 100%;
    overflow: scroll;
}

form#search-form {
    width: 90%;
    margin: auto;
}

small#course-search-help {
    font-size: 0.8rem;
}

p#search-results-message {
    padding-top: 100px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

div#right-wrapper {
    padding-top: 10px;
    height: 100%;
    overflow: scroll;
}

div#dashboard-header,
div#course-header {
    background: var(--color-blue);
    font-weight: 500;
    margin-left: 10px;
    margin-right: 0px;
    border-radius: 10px;
}

div#dashboard-content,
div#course-content {
    background: var(--color-blue);
    margin: 10px;
    margin-right: 0px;
    padding: 20px;
    overflow: auto;
    min-height: 50px;
    border-radius: 10px;
}

div#course-content {
    padding-top: 10px;
}

div#dashboard-table,
div#course-table {
    background: white;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 250px;
    overflow: scroll;
}

div#dashboard-other,
div#course-other {
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
}

div#dashboard-prefs,
div#dashboard-guide,
div#course-mss,
div#course-guide,
div#course-links {
    background: white;
    margin-top: 20px;
    border-radius: 10px;
}

@media (max-width: 991.98px) {
    div#dashboard-content,
    div#dashboard-header,
    div#course-content,
    div#course-header {
        margin-left: 0px;
    }

    div#dashboard-content,
    div#course-content {
        margin-bottom: 0px;
    }
}

@media (min-width: 1200px) {
    div#dashboard-prefs,
    div#course-mss {
        margin-right: 10px;
    }

    div#dashboard-guide,
    div#course-guide {
        margin-left: 10px;
    }
}

div#contact-preferences-header,
div#guide-header,
div#mss-header,
div#links-header {
    font-weight: 500;
}

div#guide-content,
div#links-content {
    font-size: 0.9em;
}

div#course-warning {
    font-size: 0.8em;
}

body#landing-container,
body#error-container {
    background: var(--color-blue);
}

div#landing-auth-req {
    color: var(--color-orange);
}

strong#landing-tigersnatch-highlight {
    background-color: #ff990095;
}

p#landing-bottom-text {
    margin: auto;
}

@media (max-width: 575.98px) {
    svg#landing-splash {
        height: 300px;
        margin-bottom: 50px;
    }
    form#login-btn-form {
        padding-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 1399.98px) {
    svg#landing-splash {
        height: 350px;
        margin-bottom: 50px;
    }
    form#login-btn-form {
        padding-top: 20px;
    }
}

@media (min-width: 1400px) {
    svg#landing-splash {
        height: 550px;
        margin-bottom: 20px;
    }
}

a.search-results-link {
    border-radius: 10px;
}

a.search-results-link:hover {
    color: black;
}

div.search-results-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}

.card {
    border: none;
}

a.dashboard-course-link:hover {
    color: black;
    text-decoration: underline;
}

input#login-btn {
    background-color: var(--color-orange);
    color: white;
    font-weight: 500;
}

@media (max-width: 991.98px) {
    button#login-btn,
    button#logout-btn {
        margin-bottom: 10px;
    }
}

input#login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

input#login-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.subnav {
    opacity: 1;
}

.course-quick-link {
    text-decoration: underline;
}

@media (min-width: 992px) {
    a#dashboard-skip,
    a#search-skip {
        display: none;
    }
}

.tooltip-inner {
    max-width: 250px !important;
}

.table-striped tbody tr.visible-odd {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-striped tbody tr.visible-even {
    background-color: rgba(0, 0, 0, 0);
}

.table-hover tbody tr.visible-even:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.p-text {
    text-align: center;
    width: 50%;
    margin: auto;
}

.tutorial-image {
    width: 60%;
    margin: auto;
}

@media (max-width: 1398.98px) {
    .tutorial-image {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 991.98px) {
    .tutorial-image {
        width: 100%;
        margin: auto;
    }
}
@media (max-width: 575.98px) {
    .tutorial-image {
        width: 100%;
        margin: auto;
    }
}

.img-shadow {
    box-shadow: 0px 12px 10px #8888888e;
}

.table-white {
    --bs-table-bg: white;
}
