* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

:root {
    --color-yellow: #ffe58a;
    --color-green: #51a451;
    --color-blue: #e3f3ff 64%;
}

.vsc-initialized {
    height: 100%;
}

.navbar#nav {
    background-color: #ffe58a;
    height: 4.2rem;
}

html {
    height: 100%;
}

div#main.container-fluid {
    /* margin-top: 4.2rem; */
    height: 90%;
    overflow: scroll;
}

div.row.align-items-start {
    height: 100%;
}

.navbar-brand#nav-logo {
    letter-spacing: 0.1em;
}

.input-group#course-search {
    z-index: 999;
}

.form-check-input:checked {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

div#search-results {
    height: 90%;
    overflow: scroll;
}

div.card.search-results-card {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1%;
}

div.search-results-displayname {
    font-size: 0.9rem;
}

div#search-wrapper {
    background: var(--color-blue);
    padding: 1rem;
    height: 100%;
    overflow: scroll;
}

form#search-form {
    width: 90%;
    margin: auto;
}

small#course-search-help {
    font-size: 0.8rem;
}

p#search-results-message {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

div#dashboard-wrapper {
    padding-top: 30px;
    /* margin-bottom: 20px; */
}

div#dashboard-header {
    background: var(--color-blue);
    font-weight: 500;
    margin-left: 30px;
    margin-right: 30px;
}

div#dashboard-content {
    background: var(--color-blue);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px 30px;
}

div#dashboard-table {
    background: white;
    border-radius: 10px;
    margin-left: 0px;
}

div#dashboard-prefs,
div#dashboard-guide {
    background: white;
    margin-top: 30px;
    border-radius: 10px;
}

div#contact-preferences-header,
div#guide-header {
    font-weight: 500;
}
