<!DOCTYPE html>
 <html>
   <head>
      {% block title %}{% endblock %}
      {% include 'common.html' %}
      <script type=text/javascript>


        // Handles user toggle switch off to remove from waitlist 
        // and modal dialog pops up
        $(document).ready(function() {
          // listener for modal "Cancel" button 
          $('#waitlist-modal-cancel').click(function(e) {
            e.preventDefault()
            classid = $('#confirm-remove-waitlist').attr('data-classid');
            $('#switch-'+classid).prop('checked', true)
          })

          // listener for modal "Confirm" button 
          $('#waitlist-modal-confirm').click(function(e) {
            e.preventDefault()
            classid = $('#confirm-remove-waitlist').attr('data-classid');
            $.post(`/remove_from_waitlist/${classid}`,
                  function(res) {
                    // checks that user successfully removed from waitlist on back-end
                    if (!res["isSuccess"]) {
                      console.log(`Failed to remove from waitlist for class ${classid}`)
                      return
                    }
                    $('#switch-'+classid).removeAttr('checked')
                    $('#switch-'+classid).removeAttr("data-bs-toggle")
                    $('#switch-'+classid).removeAttr("data-bs-target")

                    console.log(`Successfully removed from waitlist for class ${classid}`)
                });
          })
        });

        // links client-side and backend logic for add and remove from waitlist 
        $(document).ready(function() {
          // listener for waitlist "switch"
          $('input.waitlist-switch').change(function(e) {
            e.preventDefault()
            classid = e.target.getAttribute("data-classid")

            $('#confirm-remove-waitlist').attr('data-classid',classid);
            
            // if user is not on waitlist for this class
            if(!$('#switch-'+classid).attr('checked')) {
                $.post(`/add_to_waitlist/${classid}`,
                  function(res) {
                    // checks that user successfully added to waitlist on back-end
                    if (!res["isSuccess"]) {
                      console.log(`Failed to add to waitlist for class ${classid}`)
                      return
                    }
                    $('#switch-'+classid).attr('checked', true)
                    $('#switch-'+classid).attr('data-bs-toggle', 'modal')
                    $('#switch-'+classid).attr('data-bs-target', '#confirm-remove-waitlist')
                    console.log(`Successfully added to waitlist for class ${classid}`)
                });
            }
             return false;
          });
        });
        
      </script>
    </head>
   <body>
      {% include 'nav.html' %}
      <div class="container-fluid">
        <div class="row align-items-start">
          {% block content %}{% endblock %}
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
 </html>
