<!DOCTYPE html>
 <html>
   <head>
      {% include 'common.html' %}
      <script type=text/javascript>
      
        // links client-side and backend logic for add and remove from waitlist 
        $(document).ready(function() {
          // listener for waitlist "switch"
          $('input.waitlist-switch').on('click', function(e) {
            e.preventDefault()
            btn = e.target
            classid = e.target.getAttribute("data-classid") 
            
            // if user is not on waitlist for this class
            if (btn.getAttribute("data-on-waitlist") === "false") {
                $.post(`/add_to_waitlist/${classid}`,
                  function(res) {
                    console.log(res)
                    // checks that user successfully added to waitlist on back-end
                    if (!res["isSuccess"]) {
                      console.log(`Failed to add to waitlist for class ${classid}`)
                      return
                    }
                    btn.setAttribute("data-on-waitlist", "true")
                    btn.setAttribute("value", "Remove Me")
                    console.log(`Successfully added to waitlist for class ${classid}`)
                });
            }

            // if user is not on waitlist for this class
            else {
                if (!window.confirm("Are you sure you want to be removed from the waitlist?"))
                  return false

                $.post(`/remove_from_waitlist/${classid}`,
                  function(res) {
                    // checks that user successfully removed from waitlist on back-end
                    if (!res["isSuccess"]) {
                      console.log(`Failed to remove from waitlist for class ${classid}`)
                      return
                    }
                    btn.setAttribute("data-on-waitlist", "false")
                    btn.setAttribute("value", "Add Me")
                    console.log(`Successfully removed from waitlist for class ${classid}`)
                });
            }
             return false;
          });
        });
        
      </script>
    </head>
   <body>
      <form id="logout-btn" action="/logout" method="get">
          <input type="submit" value="Logout"></input>
      </form>
      <br>

      <div class="container">
        <div class="row align-items-start">
          {% block content %}{% endblock %}
        </div>
      </div>

    </body>
 </html>
