{% extends 'base.html' %} {% block title %} {% if course_details is none %}
<title>TigerSnatch | Courses</title>
{% else %}
<title>TigerSnatch | {{course_details.displayname}}</title>
{% endif %} {% endblock %} {% block content %}
<div id="search-wrapper" class="col-sm-4">
    <form id="search-form" class="form-inline" action="/course" method="get">
        {% include 'search_form.html' %}
        <input type="hidden" name="courseid" value="{{course_details.courseid}}" />
    </form>
    {% include 'search_results.html' %}
</div>

<div id="course-wrapper" class="col-sm-8">
    {% include 'course_info.html' %}
</div>

{% endblock %}
