<title>TigerSnatch | Dashboard</title>

<div id="dashboard-header" class="row">{% include 'dashboard_header.html' %}</div>
<div id="dashboard-content" class="row">
    <div id="dashboard-table" class="row px-4 py-3">{% include 'dashboard_table.html' %}</div>
    <div id="dashboard-other" class="row px-0">
        <div id="dashboard-prefs" class="col-xl px-4 py-3">
            {% include 'dashboard_prefs.html' %}
        </div>
        <div id="dashboard-guide" class="col-xl px-4 py-3">
            {% include 'dashboard_guide.html' %}
        </div>
    </div>
</div>
