{% extends 'base.html' %} {% block title %}
<title>TigerSnatch | Dashboard</title>
{% endblock %} {% block content %}
<div id="search-wrapper" class="col-sm-4">
    <div>Search for a course</div>
    <form id="search-form" class="form-inline" action="/dashboard" method="get">
        {% include 'search_form.html' %}
    </form>
    {% include 'search_results.html' %}
</div>
<div id="dashboard-wrapper" class="col-sm-8">
    <p>Welcome {{ username }}!</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Section</th>
                <th scope="col">Time</th>
                <th scope="col">Days</th>
                <th scope="col">Enrollment</th>
                <th scope="col">Waitist Position</th>
                <th scope="col">Notify Me</th>
            </tr>
        </thead>
        <tbody>
            {% for classid in data.keys() %}
            <tr data-courseid="{{data[classid].courseid}}">
                <td>
                    <a href="/course?query={{last_query}}&courseid={{data[classid].courseid}}"
                        >{{data[classid].displayname}}</a
                    >
                </td>
                <td>{{data[classid].section}}</td>
                {% if data[classid].end_time == "" %}
                <td>{{data[classid].start_time}}</td>
                {% else %}
                <td>{{data[classid].start_time}} - {{data[classid].end_time}}</td>
                {% endif %}
                <td>{{data[classid].days}}</td>
                <td>{{data[classid].enrollment}} / {{data[classid].capacity}}</td>
                <td>{{data[classid].position}}</td>
                <td>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input waitlist-switch"
                            type="checkbox"
                            id="switch-{{classid}}"
                            data-classid="{{classid}}"
                            checked
                        />
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <form id="new-email" action="/dashboard" method="post">
        <div class="input-group">
            <span id="email-badge" class="badge bg-light text-dark">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-envelope"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
                    />
                </svg>
            </span>

            <input
                class="form-control"
                name="new_email"
                placeholder="{{ email }}"
                pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                title="Change your email address"
            />
            <button class="btn btn-warning" type="submit">Change</button>
        </div>
    </form>
</div>
{% endblock %}
