<nav id="nav" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a id="nav-logo" class="navbar-brand fs-2" href="/dashboard">
            <img src="/static/logo-alt.svg" width="60" height="60" alt="TigerSnatch logo" class="d-inline-block align-text-center mx-2">
            TigerSnatch
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-link text-dark ms-4 fs-5 fw-light" href="/about">About</a>
            <a class="nav-link ms-4 me-2 text-dark fs-5 fw-light" href="/dashboard">Dashboard</a>

            <form id="logout-btn" class="d-flex mx-4" action="/logout" method="get">
                <button class="btn btn-warning text-dark fs-5 px-4 fw-light" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>