<nav id="nav" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <a id="nav-logo" class="navbar-brand fs-2" href="/dashboard">
            <img
                src="/static/logo-alt.svg"
                width="50"
                height="50"
                alt="TigerSnatch logo"
                class="d-inline-block align-text-center mx-2"
            />
            TigerSnatch
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="true"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <!-- to undo: replace "true" with "dashboard"; delete "active" from About; remove margin -->
            {% if true %}
            <li class="nav-item">
                <a
                    class="nav-link ms-4 fs-5 fw-light hvr-underline-from-center active"
                    href="/about"
                    >About</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link ms-4 me-2 fs-5 fw-light hvr-underline-from-center active"
                    href="/dashboard"
                    >Dashboard</a
                >
            </li>
            {% else %}
            <li class="nav-item">
                <a
                    class="nav-link ms-4 fs-5 fw-light hvr-underline-from-center active"
                    href="/about"
                    >About</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link ms-4 me-2 fs-5 fw-light hvr-underline-from-center"
                    href="/dashboard"
                    >Dashboard</a
                >
            </li>
            {% endif %}
            <li>
                <form class="d-flex mx-4" action="/logout" method="get">
                    <button
                        id="logout-btn"
                        class="btn btn-warning text-dark fs-5 px-4 fw-light"
                        type="submit"
                    >
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>
