<!DOCTYPE html>
<html>
    <head>
        {% include 'common.html' %}
        <title>TigerSnatch | Tutorial</title>
    </head>

    <body id="landing-container">
        {% if not loggedin %} {% include 'nav/nav_tutorial.html' %} {% else %}{% include
        'nav/nav.html' %}{% endif %}
        <div class="container-fluid">
            <div class="row">
                <br />
                <p class="text-center px-5 my-5">
                    <strong id="landing-tigersnatch-highlight" class="fs-1 fw-bold"
                        >Welcome to TigerSnatch!</strong
                    >
                </p>
            </div>
            <div class="row">
                <p class="fw-light text-center fs-5 p-text mb-5">
                    Before you start Snatching for course spots, here’s a brief guide on how to use
                    TigerSnatch.
                </p>
            </div>
            <div class="row">
                <p class="fw-light text-center fs-5 p-text mb-4">
                    <span
                        class="badge bg-warning text-dark font-monospace fw-bold fs-5 px-1 py-1 me-2"
                        >Step 1</span
                    >
                    Search for a course by course department, number, or title.
                </p>
            </div>
            <div class="row">
                <p class="fw-light text-center fs-5 p-text mb-4">
                    <span
                        class="badge bg-warning text-dark font-monospace fw-bold fs-5 px-1 py-1 me-2"
                        >Step 2</span
                    >
                    Toggle “Notify Me” switches to subscribe to (i.e. receive notifications for) or
                    unsubscribe from (i.e. stop receiving notifications for) full sections.
                </p>
            </div>
            <div class="row">
                <div class="my-4 tutorial-image">
                    <img
                        src="/static/COURSE_TUTORIAL.jpeg"
                        class="img-shadow rounded border border-3 border-warning mx-auto d-block"
                        width="95%"
                    />
                </div>
            </div>
            <div class="row">
                <p class="fw-light text-center fs-5 p-text my-4">
                    <span
                        class="badge bg-warning text-dark font-monospace fw-bold fs-5 px-1 py-1 me-2"
                        >Step 3</span
                    >
                    Return to the dashboard to check out your subscriptions (i.e. "Snatches").<br />
                </p>
            </div>
            <div class="row">
                <div class="my-4 tutorial-image">
                    <img
                        src="/static/DASHBOARD_TUTORIAL.jpeg"
                        class="img-shadow rounded border border-3 border-warning mx-auto d-block"
                        width="95%"
                    />
                </div>
            </div>
            <div class="row">
                <p class="fw-light text-center mt-4 fs-5 p-text">
                    And that’s it! The next time a spot opens up in a subscribed section, you'll be
                    notified immediately via email. You will continue receiving notifications every
                    5 minutes until this section is full again, or you unsubscribe from it. To
                    unsubscribe from a particular section, simply log back onto Tigersnatch and
                    toggle the section's switch off in the Dashboard.
                </p>
            </div>
            <div class="row">
                <p class="fw-light text-center mt-4 mb-3 p-text">
                    Note that Tigersnatch subscriptions are independent from official Registrar
                    waitlists. You might not be able to enroll in courses shown on TigerSnatch even
                    if spots free up. Always check Course Offerings for course-specific enrollment
                    info.
                </p>
            </div>
        </div>

        <form method="get" action="/dashboard" class="text-center my-4">
            <button
                class="btn btn-warning text-dark fs-4 px-5 py-3 mb-5"
                type="submit"
                style="border-radius: 100px"
            >
                Go to Dashboard &#8594;
            </button>
        </form>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"
        ></script>
        <script src="{{url_for('static', filename='app.js')}}"></script>
    </body>
</html>
