<div class="row justify-content-center animate__animated animate__fadeIn">
    <form id="login-btn-form" class="text-center px-3" action="/login" method="get">
        <input
            id="login-btn"
            class="btn px-5 py-3 fs-1"
            type="submit"
            name="login"
            value="Get started &#8594;"
            style="border-radius: 100px"
        />
    </form>
</div>

<div id="landing-auth-req" class="row">
    <p class="text-center fw-bold px-5 mt-3 animate__animated animate__fadeIn">
        CAS authentication required
    </p>
</div>

<div id="landing-description" class="row">
    <p
        class="text-center fs-3 my-5 animate__animated animate__fadeIn"
        style="padding-left: 15%; padding-right: 15%"
    >
        With <strong id="landing-tigersnatch-highlight" class="fs-3">TigerSnatch</strong>, Princeton
        Tigers can enter waitlists for full courses and sections and get notified via email and text
        when a spot frees up, saving time and stress during course enrollment.
    </p>
</div>

<div id="landing-disclaimer" class="row fw-light">
    <p class="text-center px-5 my-2 animate__animated animate__fadeIn">
        TigerSnatch waitlists are independent of official Registrar waitlists.
    </p>
</div>
