<div class="px-4 pt-1 fs-2">
    Welcome,
    <span
        id="dashboard-username"
        class="badge bg-warning text-dark font-monospace px-1 py-1 ms-1 fs-3"
        >{{ username }}</span
    >
    <a id="search-skip" class="fw-light ps-3" href="">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-90deg-up"
            viewBox="0 0 16 20"
        >
            <path
                fill-rule="evenodd"
                d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"
            />
        </svg>
        back to top
    </a>
</div>
<div class="fs-5 px-4 py-1">
    Check out your Snatches below
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-info-square-fill text-primary ms-1"
        viewBox="0 0 16 20"
        data-bs-toggle="tooltip"
        data-bs-placement="auto"
        data-bs-container="body"
        data-bs-width="300px"
        title="You might not be able to enroll in courses shown on TigerSnatch even if spots frees up. Always check Course Offerings for course-specific enrollment info."
    >
        <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
        />
    </svg>
</div>
