<div id="contact-preferences-header" class="fs-5 pb-3">Contact Preferences</div>
<form id="new-email" action="/dashboard" method="post">
    <div class="input-group mb-3">
        <div class="input-group-text">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-envelope"
                viewBox="0 0 16 16"
            >
                <path
                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
                />
            </svg>
        </div>

        <input
            class="form-control"
            name="new_email"
            placeholder="{{ email }}"
            pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
            title="Change your email address"
        />
        <button class="btn btn-warning" type="submit">Change</button>
    </div>
</form>

<form id="new-phone">
    <div class="input-group mt-2">
        <div class="input-group-text">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-phone"
                viewBox="0 0 16 16"
            >
                <path
                    d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
                />
                <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </svg>
        </div>

        <input
            class="form-control"
            name="new_phone"
            placeholder="Texts coming soon!"
            pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
            title="Change your phone number"
            disabled
        />
        <button class="btn btn-warning" disabled>Change</button>
    </div>
</form>
