<span id="status-indicator" class="fs-6 ms-3 mb-5"
    >active:
    <svg
        id="status-indicator-tooltip"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-circle-fill {{ 'text-success' if notifs_online else 'text-danger' }}"
        viewBox="0 0 16 16"
        data-bs-toggle="tooltip"
        data-bs-placement="auto"
        title="{{'TigerSnatch is actively sending emails for open spots! Term:' if notifs_online else 'TigerSnatch is not currently sending emails for open spots. Term:'}} {{term_name}}"
    >
        <circle cx="8" cy="8" r="8" />
    </svg>
</span>
